@model conncetASPwithTemplate.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/logintemplate.cshtml";

}

<!-- Section - Main -->
<div id="content">
    <!-- Page Title -->
    <div class="page-title bg-dark dark">
        <!-- BG Image -->
        <div class="bg-image bg-parallax"><img src="../../Content/mytemplate/assets/img/photos/bg-croissant.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 push-lg-4">
                    <h1 class="mb-0 text-center">Create New Account</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="section bg-light">

        <div class="container">
            <div class="row">

                    <div class="bg-white p-4 p-md-5 mb-4">
                        <h4 class="border-bottom pb-4"><i class="ti ti-user mr-3 text-primary"></i>Basic informations</h4>

                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "row mb-5", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = " text-danger col-sm-10" })

                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                                <div >
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                                <div >
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Area, new { @class = "col-md-2 control-label " })
                                <div>
                                    @Html.DropDownListFor(m => m.Area, new SelectList(Model.Areas, "Id", "Name"), "", new { @class = "form-control Area" })
                                </div>
                            </div>

                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Outlet, new { @class = "col-md-4 control-label" })
                                <div>
                                    @Html.DropDownListFor(m => m.Outlet, new SelectList(Model.Outlets, "Id", "Name"), "", new { @class = "form-control Outlet" })
                                </div>

                            </div>


                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Address2, new { @class = "col-md-2 control-label" })
                                <div >
                                    @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Street, new { @class = "col-md-2 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Building, new { @class = "col-md-2 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.Building, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Floor, new { @class = "col-md-2 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.Floor, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Apartment, new { @class = "col-md-2 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.Apartment, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.SpecialMark, new { @class = "col-md-2 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.SpecialMark, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div >
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-10">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                <div >
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-10">
                                <div class="text-center">
                                    <input type="submit" class="btn btn-primary btn-lg " value="Register" />
                                </div>
                            </div>

                        }
                    </div>
                
            </div>
        </div>
    </section>

</div>





    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")
        <script>
        $(document).ready(function () {
            var myUrl = '@Url.Action("GetDefault", "Home")';

            $(function () {

                $(".Area").change(function () {
                    //console.log(this.value);

                    var t = $(this).val();
                    // console.log(t);

                    if (t !== "") {
                        $.ajax({
                            url: myUrl,
                            dataType: "json",
                            type: "POST",
                            cache: false,
                            data: { val: t },
                            success: function (data) {
                                //console.log(myUrl);
                                if (data.success) {
                                    $('.Outlet').empty();
                                    for (var i = 0; i < data.outlets.length; i++) {
                                        console.log(data.outlets[i]);
                                        $('.Outlet').append($('<option></option>').text(data.outlets[i].Name).val(data.outlets[i].Id));
                                    }
                                }
                            },
                            error: function (xhr) {
                                alert(xhr.responseText);
                            }
                        });
                    }

                });
            });
        });


        </script>
    }


