@model AdminPanel.ViewModels.EditOrderItemsViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_adminPanel.cshtml";
    var serial = 1;
}


<div class="main-content">
    <div class="main-content-inner">


        <div class="page-content">

            <div class="page-header">
                <!-- Editable table -->
                <div class="card">
                    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Order Items</h3>
                    <div class="card-body">
                        <div id="table" class="table-editable">
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                    <tr>
                                        <th class="text-center"> Name </th>
                                        <th class="text-center"> Arabic Name </th>
                                        <th class="text-center"> Price</th>
                                        <th class="text-center"> Q </th>
                                        <th class="text-center">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>

                                @foreach (var item in Model.OrderViewModel.ChecksItems)
                                {
                                    
                                    if (item.Ref_Mod_Item == 0)
                                    {
                                        <tr>
                                            <td class=""> @item.Item.Name</td>
                                            <td class=""> @item.Item.Name2</td>
                                            <td class=""> @item.Item.StaticPrice</td>
                                            <td class=""> @item.QTY</td>
                                            <td>
                                                <span class="table-remove">
                                                    <button type="button"
                                                            class="btn btn-danger rounded btn-sm my-0 js-CheckId" 
                                                            data-checkItem-id="@Model.OrderViewModel.Order.CheckId"
                                                            data-checkItem-serial="@item.Serial">
                                                        Remove
                                                    </button>
                                                </span>
                                                
                                                @*<span class="table-edit">
                                                    <button type="button"
                                                            class="btn btn-primary rounded btn-sm my-0 js-CheckId"
                                                            data-checkItem-id="@Model.OrderViewModel.Order.CheckId"
                                                            data-checkItem-serial="@item.Serial">
                                                        Edit
                                                    </button>
                                                </span>*@
                                            </td>
                                        </tr>
                                    }
                                    else if (item.QTY == 0)
                                    {
                                        <tr>
                                            <td class=""> *@item.Status</td>
                                            <td class=""> *@item.Status</td>
                                            <td class=""> </td>
                                            <td class=""> </td>

                                        </tr>
                                    }

                                    else
                                    {
                                        <tr>
                                            <td class=""> * @item.Item.Name</td>
                                            <td class=""> * @item.Item.Name2</td>
                                            <td class=""> </td>
                                            <td class=""> </td>

                                        </tr>
                                    }
                                    serial++;
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Editable table -->


            </div>

        </div>
        <table id="simple-table-Items" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th> Preset </th>
                    <th> Name </th>
                    <th> Arabic Name </th>
                    <th> Price </th>
                    <th> Action</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </td>

                        <td class="center">
                            @item.WebPreset.Name
                        </td>

                        <td>
                            @item.Name
                        </td>
                        <td> @item.Name2 </td>
                        <td> @item.StaticPrice </td>
                        <td>
                            <button class="btn btn-xs btn-info js-btn-AddItem"
                                    data-item-id="@item.Id"
                                    data-target="#productModal" data-toggle="modal">
                                <i class="ace-icon fa fa-plus bigger-120" data-item-id="@item.Id"></i>
                            </button>
                        </td>


                    </tr>
                }

            </tbody>
        </table>
        @*<div class="hr hr-18 dotted hr-double"></div>*@


        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->


<script>
    $(document).ready(function() {

        ItemController.init();
        ModifiersGroupsController.init();


        $(document).on("click", ".js-btn-AddItem", function (e) {
            var button = $(e.target);
            console.log("add item to order");
            let id = button.attr("data-item-id");
            let checkId = $(".js-CheckId").attr("data-checkitem-id");
            console.log(id);
            console.log(checkId);
            ModifiersGroupsController.showItem(id, checkId, e);
            
        });


        $(document).on("click", ".js-add-cart", function (e) {
            ModifiersGroupsController.addItem();
        });

        $(document).on("click", ".table-remove", function (e) {
            console.log("got on delete");

            var link = $(e.target);
            let id = link.attr("data-checkItem-id");
            let serial = link.attr("data-checkItem-serial");

            $.ajax({
                url: `/api/ChecksItems/${id}/${serial}`,
                //headers: { "id": id, "serial": serial },
                    method: "DELETE"
                })
                .done(function () {
                    link.parents("tr").fadeOut(function () {
                        location.reload();
                    });
                })
                .fail(function () {
                    alert("Something failed! in deleting order");
                });
        });

        
            $(".js-qtyincrease").on('click',
                function (e) {
                    var val = parseInt($(".js-item-quantity").val());
                    console.log(val);
                    $(".js-item-quantity").val(val+1);

                });

            $(".js-qtydecrease").on('click',
            function(e) {
                var val = parseInt($(".js-item-quantity").val());
                console.log(val);
                if(val != 1)
                    $(".js-item-quantity").val(val-1);




            });
    })
</script>