@using Microsoft.AspNet.Identity

<!DOCTYPE html>

<html>
<head>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title>El Dahan</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../../Content/mytemplate/assets/img/apple-touch-icon.png">
    @*<link rel="shortcut icon" href="../../Content/mytemplate/assets/img/logo-dark.svg">*@
    @*<link rel="apple-touch-icon" href="../../Content/mytemplate/assets/img/favicon_60x60.png">*@
    @*<link rel="apple-touch-icon" sizes="76x76" href="../../Content/mytemplate/assets/img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../Content/mytemplate/assets/img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../Content/mytemplate/assets/img/favicon_152x152.png">*@

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="../../Content/mytemplate/assets/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Content/mytemplate/assets/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="../../Content/mytemplate/assets/plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="../../Content/mytemplate/assets/plugins/animsition/dist/css/animsition.min.css" />
    <link rel="stylesheet" href="../../Content/Site.css" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="../../Content/mytemplate/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="../../Content/mytemplate/assets/plugins/font-awesome/css/font-awesome.min.css" />

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="../../Content/mytemplate/assets/css/themes/theme-beige.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
    @Styles.Render("~/Content/css")
</head>
<body>

    <!-- Body Wrapper -->
    <div id="body-wrapper" class="animsition">

        <!-- Header -->
        <header id="header" class="light">

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <!-- Logo -->
                        <div class="module module-logo dark">
                            <a href="@Url.Action("Index", "Home")" About Us>
                                <img src="../../Content/mytemplate/assets/img/logo-light.svg" alt="" width="88">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <!-- Navigation -->
                        <nav class="module module-navigation left mr-4">
                            <ul id="nav-main" class="nav nav-main">
                                @*<li class="has-dropdown">
                                     <a href="#">Home</a>
                                     <div class="dropdown-container">
                                         <ul>*@
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                @*<li><a href="@Url.Action("IndexBurgers", "Home")">Home Burgers</a></li>
                                             </ul>
                                         </div>
                                </li>*@
                                @*@if (!User.IsInRole("Manger"))
                                {*@
                                    <li><a href="@Url.Action("Navigation", "Home")">MENU</a></li>

                                    <li><a href="@Url.Action("Offers", "Home")">Offers</a></li>
                                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                @*}*@


                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                                    <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                                }
                                else
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right " }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <li>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName() <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Index" , "Manage")">Manage Account</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                            </ul>
                                        </li>
                                    }
                                }

                            </ul>
                        </nav>
                    @*@if (User.Identity.IsAuthenticated && !User.IsInRole("Manger"))
                    {
                        <div class="module left">
                            <a href="menu-list-navigation.html" class="btn btn-outline-secondary"><span>Order</span></a>
                        </div>
                        <div class="module left">
                        </div>
                    }*@
                        </div>
                    @if (User.Identity.IsAuthenticated )
                    {
                    <div class="col-md-2">

                        <a href="#" class="module module-cart right js-shopping-cart" data-toggle="panel-cart">
                            <span class="cart-icon">
                                <i class="ti ti-shopping-cart "></i>
                                <span class="notification hide badge js-notifications-count ">0</span>
                            </span>
                            <span class="cart-value js-notifications-price">0 LE</span>
                        </a>

                    </div>
                }
                </div>
            </div>

        </header>
        <!-- Header / End -->
    <!-- Header -->
    
        <header id="header-mobile" class="light">

            <div class="module module-nav-toggle">
                <a href="#" id="nav-toggle" data-toggle="panel-mobile"><span></span><span></span><span></span><span></span></a>
            </div>

            <div class="module module-logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="../../Content/mytemplate/assets/img/logo-horizontal-dark.svg" alt="">
                </a>
            </div>
        @if (User.Identity.IsAuthenticated )
        {
            <a href="#" class="module module-cart" data-toggle="panel-cart">
                <i class="ti ti-shopping-cart "></i>
                <span class="notification hide badge js-notifications-count ">0</span>
            </a>
        }
        </header>
    
        <!-- Header / End -->
        <!-- Content -->
        <div id="content">


            <div>
                @RenderBody()
            </div>
            <!-- Footer -->
            <footer id="footer" class="bg-dark dark">

                <div class="container">
                    <!-- Footer 1st Row -->
                    <div class="footer-first-row row">
                        <div class="col-lg-3 text-center">
                            <a href="index.html"><img src="../../Content/mytemplate/assets/img/logo-light.svg" alt="" width="88" class="mt-5 mb-5"></a>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <h5 class="text-muted">Our Barches</h5>
                            <ul class="list-posts">
                                <li>
                                    <a href="https://goo.gl/maps/hdtdLfTrtKEtE72b6" class="title">El Rehab</a>
                                    <span>Shop no. 163 & 164 Service area, Al Rehab Souk</span>
                                    <p>Telephone : 26078965, 01225959100</p>
                                </li>
                                <li>
                                    <a href="https://goo.gl/maps/A4kDZwgtA9pa6tQP9" class="title">El Rehab 2</a>
                                    <span>The Open Food court</span>
                                    <p>Telephone : 26071964, 01203111585</p>
                                </li>
                                <li>
                                    <a href="https://goo.gl/maps/MFnyVqSXpVDmRqTNA" class="title">5th settelment</a>
                                    <span>Silver Star Mall, Akhnaton St., First District</span>
                                    <p>Telephone : 26183383, 01225555050</p>
                                </li>

                                <li>
                                    <a href="https://goo.gl/maps/R6v6i4qabFMFt3q37" class="title">Heliopolis</a>
                                    <span>70 El Marghany St.</span>
                                    <p>Telephone : 26901601, 01277711867</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <h5 class="text-muted"></h5>
                            <ul class="list-posts">
                                <li>
                                    <a href="https://goo.gl/maps/gwZTSWXQ7SWyQSvr5" class="title">Mohandessin</a>
                                    <span>38 Gameet Eldowal Elarabia St.</span>
                                    <p>Telephone : 33035755, 01210107042</p>
                                </li>
                                <li>
                                    <a href="https://goo.gl/maps/Y9FPrLCEjxYFtppw9" class="title">Madinaty</a>
                                    <span>South Park Food Court</span>
                                    <p>Telephone : 01111105787</p>
                                </li>
                                <li>
                                    <a class="title">El Hussein</a>
                                    <span>16 Gawhar Elkaek=d St., Shopping Mall.</span>
                                    <p>Telephone : 25939325</p>
                                </li>
                                <li>
                                    <a href="https://goo.gl/maps/GUkH7tcaHTNVH2hcA" class="title">Nasr City</a>
                                    <span>84 hassan Elmaamon</span>
                                    <p>Telephone : 26774444, 26774440</p>
                                </li>
                                <h5 class="text-muted mb-3">Social Media</h5>
                                <a href="https://facebook.com/eldahangrill" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
                                <a href="#" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="icon icon-social icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
                                <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer 2nd Row -->
                    <div class="footer-second-row">
                        <span class="text-muted">Copyright Eldahan Grill 2020.</span><HelloWorld></HelloWorld>

                    </div>

                </div>

                <!-- Back To Top -->
                
                <button id="back-to-topBtn"> <a href="#" class="fixed " id="back-to-top"><i class="ti ti-angle-up"></i></a>  </button>

            </footer>
            <!-- Footer / End -->


        </div>
        <!-- Content / End -->
        <!-- Panel                                                                  Cart -->
        <div id="panel-cart">
            <div class="panel-cart-container ">
                <div class="panel-cart-title">
                    <h5 class="title">Your Cart</h5>
                    <button class="close" data-toggle="panel-cart"><i class="ti ti-close"></i></button>
                </div>
                <div class="panel-cart-content">
                    <table class="table-cart seed_items" >
                        


                    </table>
                    <div class="cart-summary seed_price">

                    </div>
                </div>
            </div>
            <a href="@Url.Action("Checkout", "Home")" class="panel-cart-action btn btn-secondary btn-block btn-lg"><span>Go to checkout</span></a>
        </div>

        <!-- Panel Mobile -->
        <nav id="panel-mobile">
            <div class="module module-logo bg-dark dark">
                <a href="#">
                    <img src="../../Content/mytemplate/assets/img/logo-light.svg" alt="" width="88">
                </a>
                <button class="close" data-toggle="panel-mobile"><i class="ti ti-close"></i></button>
            </div>
            <nav class="module module-navigation"></nav>
            <div class="module module-social">
                <h6 class="text-sm mb-3">Follow Us!</h6>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
            </div>
        </nav>

        <!-- Body Overlay -->
        <div id="body-overlay"></div>

    </div>
<!-- Modal for thanks message-->
<div class="modal fade" id="thanks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
            <div class="modal-body">
                <span>your order will be ready in 45 minutes</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-dismiss="modal"><span>Cancel</span></button>   
                <button type="button" class="btn btn-primary js-ordernow" data-dismiss="modal"><span>Confirm </span></button>
            </div>
        </div>
    </div>
</div>
    <!-- Modal                                              / Product -->
    <!-- -->
    <div class="modal fade" id="productModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-lg dark bg-dark">
                    <div class="bg-image"><img src="../../Content/mytemplate/assets/img/photos/modal-add.jpg" alt=""></div>
                    <h4 class="modal-title">Specify your dish</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ti-close"></i></button>
                </div>
                <div class="modal-product-details">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <!-- first and second name-->
                            <h6 class="mb-0 js-item-name1" js-item-name1=""><!-- first name--></h6>
                            <span class="text js-item-name2" js-item-name2=""><!-- second name--></span>
                        </div>
                        <!-- price -->
                        <div class="col-3 text-lg text-right js-item-staticPrice"><!-- price --></div>
                    </div>
                    <!-- Panel Details / Size -->
                    <!--whe will show it from js -->
                    <div id="js-panel-details-modi" class="panel-details">
                        
                        

                    </div>
                    
                    <div class="modal-body align-items-center">

                        <div class="panel-details">
                            <label class="block tmppadding">Special Instructions</label>
                            <textarea class="w-100 h-100  js-item-message"> </textarea>
                            <label class="block tmppadding"> Quantity </label>
                            <div>
                                <input type="text" disabled class=" p-2 js-item-quantity" value="1" />
                                <button class="js-qtyincrease btn btn-sm btn-secondary">
                                    <i class="fa fa-plus"></i>
                                </button>

                                <button class="js-qtydecrease btn btn-sm btn-secondary">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                    
                    
                </div>
                    <button type="button" class="modal-btn btn btn-secondary btn-block btn-lg js-add-cart" data-item-id="1" data-modiefier-id="1" data-dismiss="modal"><span>Add to Cart</span></button>

            </div>
        </div>
    </div>

    <!-- Video Modal / Demo -->
    <div class="modal modal-video fade" id="modalVideo" role="dialog">
        <button class="close" data-dismiss="modal"><i class="ti-close"></i></button>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <iframe height="500"></iframe>
            </div>
        </div>
    </div>
    <!-- JS Plugins -->
    <script src="../../Content/mytemplate/assets/plugins/jquery/dist/jquery.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/tether/dist/js/tether.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/jquery.appear/jquery.appear.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/jquery.localscroll/demo/js/jquery.scrollTo.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/skrollr/dist/skrollr.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/animsition/dist/js/animsition.min.js"></script>

    <!-- JS Core -->
<script src="../../Content/mytemplate/assets/js/core.js"></script>


<!-- React-->
@*<script src="../../Scripts/HelloReact.jsx"></script>*@

    @*<script src="@Url.Content("~/Scripts/HelloReact.jsx")"></script>*@

@*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>

        // all apis calls
        $(document).ready(function() {
            //ViewBag.Delivery


            AJAXRequest();

            //Get the button:
            mybutton = document.getElementById("back-to-topBtn");

            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0; // For Safari
                document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            }



            //var chickId = setInterval(clickedIt, 1500);

            // when click on item we get its information like id and name
            $(".js-chosen-item").on('click',
                function(e) {

                    //refreshIntervalId = setInterval(AJAXRequest, 1500)


                    var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();

                    if (!userAuthorized) {
                        console.log(userAuthorized);
                        console.log("false " + userAuthorized);

                        var url = '@Url.Action("Login", "Account" , new { returnUrl = "/Home/Navigation" })';
                        window.location.href = url;


                        return;
                    }

                    //alert("dsds");
                    var button = $(e.target);
                    if ($(e.target).get(0).tagName == "SPAN") {
                        button = $(e.target).parent();
                    } else {
                        button = $(e.target);
                    }
                   // console.log(button);

                    var myId = button.attr("data-item-id");

                    $("#productModal .js-add-cart").attr("data-item-id", myId);
                    console.log($("#productModal .js-add-cart").data("data-item-id"));
                    console.log("myId" + myId);

                    //first retruferd id is the selected item and other ids is modifiers
                    $.ajax({ url: "/api/ModifiersGroups/" + myId, method: "GET" })
                        .done(function(data) {
                            var index, cartItemDto;
                            console.log("Got in modifiers");
                            console.log(data);

                            $(".modal-product-details .js-item-name1").text(data[0].name);
                            $(".modal-product-details .js-item-name2").text(data[0].name2);
                            $(".modal-product-details .js-item-staticPrice").text(data[0].staticPrice);
                            $(".modal-product-details .js-item-quantity").val(1);
                            $(".modal-product-details .js-item-message").val('');
                            $('#panelDetailsSize .panel-details-content').empty();
                            $('#js-panel-details-modi').empty();

                            //first item is the chosen item

                            if (data.length == 1) {
                                cartItemDto = {
                                    ItemId: myId,
                                    ItemsId: [-1] // there is no modifiers for this item

                                }
                            }

                            else
                            {
                                   console.log("in has modi");
                                 //$('#productModal').modal('show');

                                for (var i = 0; i < 3; i++)
                                {
                                    let dataSize = ` <h5 class="panel-details-title">
                                    <label class="custom-control custom-radio">
                                    <input name="radio_title_size${i}" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    </label>
                                    <a href="#panelDetailsSize${i}" data-toggle="collapse">Salad${i+1}</a>
                                    </h5>
                                    <div id="panelDetailsSize${i}" class="collapse">
                                    <form>
                                    <div class="panel-details-content">

                                    </div>
                                    </form>
                                    </div>`;
                                    $('#js-panel-details-modi').append(dataSize);

                                    for (let j = 1; j < 5; j++)//data.length
                                    {

                                        // add modifiers to details of item
                                        // <span class ="custom-control-indicator"></span>
                                        let data1 = `<div class="form-group">
                                    <label class ="custom-control custom-radio" >
                                    <input name="radio_size${i}" type="radio" value=${data[j].name} checked>
                                   
                                    <span class ="custom-control-description">${data[j].name} </span>
                                    </label>
                                    </div>`;

                                        $(`#panelDetailsSize${i} .panel-details-content`).append(data1);
                                        }
                                }



                                    //get the selected radio button
                                   //for (var i = 0; i < 3; i++)
                                   //{
                                   //    $(`input[name=radio_size${i}]`).click(function () {

                                   //        var index0 = $(`input[name=radio_size${i}]`).index($(`input[name=radio_size${i}]:checked`)) + 1;
                                   //        console.log(data[index0].id);

                                   //        //$("#productModal .js-add-cart").attr("data-selected-modiefier-id", data[index].id);
                                   //    });
                                   //}
                                var index0 = 4, index1 = 4, index2 = 4, index3 = 4;
                                $("#productModal .js-add-cart").attr("data-selected-modiefier-id", [data[index0].id, data[index1].id, , data[index2].id, data[index3].id]);

                                   $("input[name='radio_size0']").click(function () {

                                        index0 = $("input[name='radio_size0']").index($("input[name='radio_size0']:checked")) + 1;
                                       console.log(data[index0].id);

                                       $("#productModal .js-add-cart").attr("data-selected-modiefier-id", [data[index0].id, data[index1].id, , data[index2].id, data[index3].id]);
                                   });
                                    
                                   $("input[name='radio_size1']").click(function () {

                                        index1 = $("input[name='radio_size1']").index($("input[name='radio_size1']:checked")) + 1;
                                       console.log(data[index1].id);

                                        $("#productModal .js-add-cart").attr("data-selected-modiefier-id", [data[index0].id, data[index1].id, , data[index2].id, data[index3].id]);
                                   });
                                   $("input[name='radio_size2']").click(function () {

                                        index2 = $("input[name='radio_size2']").index($("input[name='radio_size2']:checked")) + 1;
                                       console.log(data[index2].id);

                                        $("#productModal .js-add-cart").attr("data-selected-modiefier-id", [data[index0].id, data[index1].id, , data[index2].id, data[index3].id]);
                                   });

                                $("input[name='radio_size3']").click(function () {

                                     index3 = $("input[name='radio_size3']").index($("input[name='radio_size3']:checked")) + 1;
                                    console.log(data[index3].id);

                                     $("#productModal .js-add-cart").attr("data-selected-modiefier-id", [data[index0].id, data[index1].id, , data[index2].id, data[index3].id]);
                                });
                                }
                        })
                        .fail(function() {
                            alert("Something failed! in modifiers");
                        });
                });


            $(".js-add-cart").click(function(e) {
                var button = $(e.target);
                if ($(e.target).get(0).tagName == "SPAN") {
                    button = $(e.target).parent();
                } else {
                    button = $(e.target);
                }

                // console.log($('#messagedetails').text());
                // console.log($('#messagedetails'));

                var idModified = $("#productModal .js-add-cart").attr("data-selected-modiefier-id");

                console.log(idModified);
                //var idModified = idModified.split(",");
                //console.log(idModified);

                var id = $("#productModal .js-add-cart").attr("data-item-id");
                var detailsMessage = $("#productModal .js-item-message").val();

                var quantity = $("#productModal .js-item-quantity").val();

                var cartItemDto = {
                    ItemId: id, 
                    ItemsId: idModified,
                    Details: detailsMessage,
                    Quantity: quantity
                    // phone: $("#id-phone").val()
                }

                $.ajax({
                    url: "/api/shoppingcarts",
                    method: "POST",
                    data: JSON.stringify(cartItemDto),
                    contentType: 'application/json; charset=utf-8',
                    dataType: "Json"
                })
                    .done(function() {
                        console.log("got in adding items has modifiers ");
                        console.log(button.attr("data-item-id"));
                        AJAXRequest();
                    })
                    .fail(function() {
                        alert("Something failed! in adding item to cart");
                    });

                // $("#productModal").removeClass('show');
            });
            $("#deliverytime").change(function() {
                console.log("selected is " + $('#deliverytime option:selected').index());

                // I personally prefer using console.log(), but if you want you can still go with the alert().
                console.log($(this).children('option:selected').index());
            });


            $(".js-qtyincrease").on('click',
                function (e) {
                    var val = parseInt($(".js-item-quantity").val());
                    console.log(val);
                    $(".js-item-quantity").val(val+1);

                });

            $(".js-qtydecrease").on('click',
            function(e) {
                var val = parseInt($(".js-item-quantity").val());
                if(val != 1)
                    $(".js-item-quantity").val(val-1);




            });
            
            var popUpList= '<input type="radio">A<br> <input type="radio">B<br> <input type="radio">C',
                dialogHtml = $.parseHTML(popUpList);
            $(".showPopUpButton").on('click',
                function(e) {
                    $( "#dialog" ).html(dialogHtml).dialog();
                });
        });


    </script>
</body>

</html>