<!DOCTYPE html>

<html>
<head>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title>Soup - Restaurant with Online Ordering System Template</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../../Content/mytemplate/assets/img/favicon.png">
    <link rel="apple-touch-icon" href="../../Content/mytemplate/assets/img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../Content/mytemplate/assets/img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../Content/mytemplate/assets/img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../Content/mytemplate/assets/img/favicon_152x152.png">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="../../Content/mytemplate/assets/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Content/mytemplate/assets/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="../../Content/mytemplate/assets/plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="../../Content/mytemplate/assets/plugins/animsition/dist/css/animsition.min.css" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="../../Content/mytemplate/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="../../Content/mytemplate/assets/plugins/font-awesome/css/font-awesome.min.css" />

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="../../Content/mytemplate/assets/css/themes/theme-beige.min.css" />
</head>
<body>

    <!-- Body Wrapper -->
    <div id="body-wrapper" class="animsition">

        <!-- Header -->
        <header id="header" class="light">

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <!-- Logo -->
                        <div class="module module-logo dark">
                            <a href="@Url.Action("Index", "Home")" About Us>
                                <img src="../../Content/mytemplate/assets/img/logo-light.svg" alt="" width="88">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <!-- Navigation -->
                        <nav class="module module-navigation left mr-4">
                            <ul id="nav-main" class="nav nav-main">
                                <li class="has-dropdown">
                                    <a href="#">Home</a>
                                    <div class="dropdown-container">
                                        <ul>
                                            <li><a href="@Url.Action("Index", "Home")">Home Basic</a></li>
                                            <li><a href="@Url.Action("IndexBurgers", "Home")">Home Burgers</a></li>
                                            <li><a href="@Url.Action("IndexFullwidth", "Home")">Home Fullwidth Slider</a></li>
                                            <li><a href="@Url.Action("IndexVideo", "Home")">Home Video</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">About</a>
                                    <div class="dropdown-container">
                                        <ul class="dropdown-mega">
                                            <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                                            <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                                            <li><a href="@Url.Action("Gallery", "Home")">Gallery</a></li>
                                            <li><a href="@Url.Action("Reviews", "Home")">Reviews</a></li>
                                            <li><a href="@Url.Action("FaQ", "Home")">FAQ</a></li>


                                        </ul>
                                        <div class="dropdown-image">
                                            <img src="../../Content/mytemplate/assets/img/photos/dropdown-about.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Menu</a>
                                    <div class="dropdown-container">
                                        <ul>
                                            <li class="has-dropdown">
                                                <a href="#">List</a>
                                                <ul>
                                                    <li><a href="@Url.Action("Navigation", "Home")">Navigation</a></li>
                                                    <li><a href="menu-list-collapse.html">Collapse</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="#">Grid</a>
                                                <ul>
                                                    <li><a href="menu-grid-navigation.html">Navigation</a></li>
                                                    <li><a href="menu-grid-collapse.html">Collapse</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Offers", "Home")">Offers</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                <li class="has-dropdown">
                                    <a href="#">More</a>
                                    <div class="dropdown-container">
                                        <ul class="dropdown-mega">
                                            <li><a href="page-offer-single.html">Offer single</a></li>
                                            <li><a href="page-product.html">Product</a></li>
                                            <li><a href="book-a-table.html">Book a table</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="confirmation.html">Confirmation</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-sidebar.html">Blog + Sidebar</a></li>
                                            <li><a href="blog-post.html">Blog Post</a></li>
                                            <li><a href="documentation.html">Documentation</a></li>
                                        </ul>
                                        <div class="dropdown-image">
                                            <img src="../../Content/mytemplate/assets/img/photos/dropdown-more.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <div class="module left">
                            <a href="menu-list-navigation.html" class="btn btn-outline-secondary"><span>Order</span></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="module module-cart right" data-toggle="panel-cart">
                            <span class="cart-icon">
                                <i class="ti ti-shopping-cart js-shopping-cart"></i>
                                <span class="notification hide badge js-notifications-count ">0</span>
                            </span>
                            <span class="cart-value js-notifications-price">$32.98</span>
                        </a>
                    </div>
                </div>
            </div>

        </header>
        <!-- Header / End -->
        <!-- Header -->
        <header id="header-mobile" class="light">

            <div class="module module-nav-toggle">
                <a href="#" id="nav-toggle" data-toggle="panel-mobile"><span></span><span></span><span></span><span></span></a>
            </div>

            <div class="module module-logo">
                <a href="index.html">
                    <img src="../../Content/mytemplate/assets/img/logo-horizontal-dark.svg" alt="">
                </a>
            </div>

            <a href="#" class="module module-cart" data-toggle="panel-cart">
                <i class="ti ti-shopping-cart"></i>
                <span class="notification">2</span>
            </a>

        </header>
        <!-- Header / End -->
        <!-- Content -->
        <div id="content">


            <div>
                @RenderBody()
            </div>
            <!-- Footer -->
            <!-- Footer -->
            <footer id="footer" class="bg-dark dark">

                <div class="container">
                    <!-- Footer 1st Row -->
                    <div class="footer-first-row row">
                        <div class="col-lg-3 text-center">
                            <a href="index.html"><img src="../../Content/mytemplate/assets/img/logo-light.svg" alt="" width="88" class="mt-5 mb-5"></a>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <h5 class="text-muted">Latest news</h5>
                            <ul class="list-posts">
                                <li>
                                    <a href="blog-post.html" class="title">How to create effective webdeisign?</a>
                                    <span class="date">February 14, 2015</span>
                                </li>
                                <li>
                                    <a href="blog-post.html" class="title">Awesome weekend in Polish mountains!</a>
                                    <span class="date">February 14, 2015</span>
                                </li>
                                <li>
                                    <a href="blog-post.html" class="title">How to create effective webdeisign?</a>
                                    <span class="date">February 14, 2015</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <h5 class="text-muted">Subscribe Us!</h5>
                            <!-- MailChimp Form -->
                            <form action="//suelo.us12.list-manage.com/subscribe/post-json?u=ed47dbfe167d906f2bc46a01b&amp;id=24ac8a22ad" id="sign-up-form" class="sign-up-form validate-form mb-3" method="POST">
                                <div class="input-group">
                                    <input name="EMAIL" id="mce-EMAIL" type="email" class="form-control" placeholder="Tap your e-mail..." required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-submit" type="submit">
                                            <span class="description">Subscribe</span>
                                            <span class="success">
                                                <svg x="0px" y="0px" viewBox="0 0 32 32"><path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11" /></svg>
                                            </span>
                                            <span class="error">Try again...</span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <h5 class="text-muted mb-3">Social Media</h5>
                            <a href="#" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
                            <a href="#" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="icon icon-social icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
                            <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- Footer 2nd Row -->
                    <div class="footer-second-row">
                        <span class="text-muted">Copyright Soup 2017©. Made with love by Suelo.</span>
                    </div>
                </div>

                <!-- Back To Top -->
                <a href="#" id="back-to-top"><i class="ti ti-angle-up"></i></a>

            </footer>
            <!-- Footer / End -->

        </div>
        <!-- Content / End -->
        <!-- Panel                                                                  Cart -->
        <div id="panel-cart">
            <div class="panel-cart-container ">
                <div class="panel-cart-title">
                    <h5 class="title">Your Cart</h5>
                    <button class="close" data-toggle="panel-cart"><i class="ti ti-close"></i></button>
                </div>
                <div class="panel-cart-content">
                    <table class="table-cart" id="seed_items" js-cancel-item></table>
                    <div class="cart-summary" id="seed_price">

                    </div>
                </div>
            </div>
            <a href="checkout.html" class="panel-cart-action btn btn-secondary btn-block btn-lg"><span>Go to checkout</span></a>
        </div>

        <!-- Panel Mobile -->
        <nav id="panel-mobile">
            <div class="module module-logo bg-dark dark">
                <a href="#">
                    <img src="../../Content/mytemplate/assets/img/logo-light.svg" alt="" width="88">
                </a>
                <button class="close" data-toggle="panel-mobile"><i class="ti ti-close"></i></button>
            </div>
            <nav class="module module-navigation"></nav>
            <div class="module module-social">
                <h6 class="text-sm mb-3">Follow Us!</h6>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
            </div>
        </nav>

        <!-- Body Overlay -->
        <div id="body-overlay"></div>

    </div>

    <!-- Modal                                              / Product -->
    <!-- -->
    <div class="modal  " id="productModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-lg dark bg-dark">
                    <div class="bg-image"><img src="../../Content/mytemplate/assets/img/photos/modal-add.jpg" alt=""></div>
                    <h4 class="modal-title">Specify your dish</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ti-close"></i></button>
                </div>
                <div class="modal-product-details">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <!-- first and second name-->
                            <h6 class="mb-0 js-item-name1" js-item-name1=""><!-- first name--></h6>
                            <span class="text- js-item-name2" js-item-name2=""><!-- second name--></span>
                        </div>
                        <!-- price -->
                        <div class="col-3 text-lg text-right js-item-staticPrice"><!-- price --></div>
                    </div>
                </div>
                <div class="modal-body panel-details-container">
                    <!-- Panel Details / Size -->
                    <div class="panel-details">
                        <h5 class="panel-details-title">
                            <label class="custom-control custom-radio">
                                <input name="radio_title_size" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                            <a href="#panelDetailsSize" data-toggle="collapse">Size</a>
                        </h5>
                        <div id="panelDetailsSize" class="collapse show">
                            <form>
                            <div class="panel-details-content">
                               
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- Panel Details / Additions -->
                    <div class="panel-details">
                        <h5 class="panel-details-title">
                            <label class="custom-control custom-radio">
                                <input name="radio_title_additions" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                            <a href="#panelDetailsAdditions" data-toggle="collapse">Additions</a>
                        </h5>
                        <div id="panelDetailsAdditions" class="collapse">
                            <div class="panel-details-content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Tomato ($1.29)</span>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Cheese($1.29)</span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Panel Details / Other -->
                    <div class="panel-details">
                        <h5 class="panel-details-title">
                            <label class="custom-control custom-radio">
                                <input name="radio_title_other" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                            <a href="#panelDetailsOther" data-toggle="collapse">Other</a>
                        </h5>
                        <div id="panelDetailsOther" class="collapse">
                            <textarea cols="30" rows="4" class="form-control" placeholder="Put this any other informations..."></textarea>
                        </div>
                    </div>
                </div>
                <button type="button" class="modal-btn btn btn-secondary btn-block btn-lg js-add-cart" data-item-id="1" data-modiefier-id="1" data-dismiss="modal"><span>Add to Cart</span></button>
            </div>
        </div>
    </div>

    <!-- Video Modal / Demo -->
    <div class="modal modal-video fade" id="modalVideo" role="dialog">
        <button class="close" data-dismiss="modal"><i class="ti-close"></i></button>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <iframe height="500"></iframe>
            </div>
        </div>
    </div>

    <!-- JS Plugins -->
    <script src="../../Content/mytemplate/assets/plugins/jquery/dist/jquery.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/tether/dist/js/tether.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/jquery.appear/jquery.appear.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/jquery.localscroll/demo/js/jquery.scrollTo.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/skrollr/dist/skrollr.min.js"></script>
    <script src="../../Content/mytemplate/assets/plugins/animsition/dist/js/animsition.min.js"></script>

    <!-- JS Core -->
    <script src="../../Content/mytemplate/assets/js/core.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



<script>

    // all apis calls
    $(document).ready(function () {

        //function AddItem(button ,id) {
            

        //}


        //js-shopping-cart
        // here we get cart items from api and put in in table in cart
        $.getJSON("/api/shoppingcarts", function (notifications) {
            var delivery = 3.99, price = 0, totalPrice = 0;

            if (notifications.length === 0)
                return $(".js-notifications-price").text('$0');
            $(".js-notifications-count").text(notifications.length);


            for(let i=0 ; i< notifications.length ; i++)
            {
                //names//price// delete and edit
                var data1 =
                    `<tr>
                        <td class ="title">
                            <span class ="name"><a href="#productModal" data-toggle="modal">${notifications[i].item.name}</a></span>
                            <span class ="caption text-muted">${notifications[i].item.name2}</span>
                        <td>

                        <td class ="price">  ${notifications[i].item.staticPrice}$ <td>

                        <td  class ="actions">
                         <a href="#" class ="action-icon js-edit-item"> <i class ="ti ti-pencil"></i></a>
                         <a href="#" class ="action-icon js-cancel-item"> <i data-item-id=${notifications[i].id}  class ="ti ti-close "></i></a>
                        <td>
                        <tr>
                    `;

                price += notifications[i].item.staticPrice;
                totalPrice = price + delivery;
                $('#seed_items').append(data1);

            }

            // price and total
            var data2 = ` <div class=" row"> <div class="col-7 text-right text-muted">
                Order total: </div>  <div class="col-5"><strong>$  ${price} </strong></div>  </div>
            <div class="row"> <div class="col-7 text-right text-muted">
                    Delivery: </div> <div class="col-5"><strong>$ ${delivery} </strong></div>  </div>

            <hr class="hr-sm"> <div class="row text-lg"> <div class="col-7 text-right text-muted">
                Total:</div> <div class="col-5"><strong>$ ${totalPrice} </strong></div> </div>`;

            // price beside cart
            $(".js-notifications-price").text(totalPrice.toFixed(2));
            $('#seed_price').append(data2);

        });

        //delete specifected item from cart    
        $(".js-shopping-cart").click(function (e) {
            if ($('.js-cancel-item').length > 0) {
                console.log("dsds");
                $(".js-cancel-item").click(function (e) {
                    console.log("worked");
                    var link = $(e.target);
                    console.log(link.attr("data-item-id"));
                    //delete specifected item from cart
                    $.ajax({
                            url: "/api/shoppingcarts/" + link.attr("data-item-id"),
                            method: "DELETE"
                        })
                        .done(function () {
                            link.parents("tr").fadeOut(function () {
                                $(this).remove();
                            });
                        })
                        .fail(function () {
                            alert("Something failed! in deleting items");
                        });
                });
            }
            else {
                console.log("cccc");
            }
        });

        // when click on item we get its information like id and name
        $(".js-chosen-item").on('click',
            function (e) {
                var button = $(e.target);
                if ($(e.target).get(0).tagName == "SPAN") {

                     button = $(e.target).parent();
                }
                else {
                     button = $(e.target);
                    }
                console.log(button);
                
                //console.log(button.attr("data-item-id"));
                //console.log(JSON.parse(button.attr("data-item-id")));
                var myIds = JSON.parse(button.attr("data-item-id"));
                console.log(button.attr("data-item-id"));
                console.log(myIds);
                console.log(myIds[0]);
                 //$.ajax
                 //first retruferd id is the selected item and other ids is modifiers

                $.ajax({ url: "/api/ModifiersGroups/" + myIds[0], method: "GET" })
                    .done(function (data) {
                        var index  ;
                        
                        //first item is the chosen item
                        if (data.length == 1) {
                            var cartItemDto = {
                                ItemId: myIds[0],
                                ItemsId: -1
                                // phone: $("#id-phone").val()
                            }

                            console.log('cart + ' + cartItemDto.ItemId);
                            console.log('cart + ' + cartItemDto.ItemsId);


                            //var cartItemDto = JSON.stringify(x);
                            // orderedAppointmens = JSON.stringify(orderedAppointmens);
                            $.ajax({
                                    url: "/api/shoppingcarts",
                                    method: "POST",
                                    data: JSON.stringify(cartItemDto),
                                    contentType: 'application/json; charset=utf-8',
                                    dataType: "Json"
                                })
                                .done(function () {
                                    console.log("got in adding itms ");
                                    console.log(button.attr("data-item-id"));
                                })
                                .fail(function () {
                                    alert("Something failed! in adding item to cart");
                                });


                        }
                        else {
                            $("#productModal").addClass("fade");
                            $("#productModal").modal();
                            $("#productModal").removeClass("fade");

                            var myJSON = JSON.stringify(myIds);


                            $("#productModal .js-add-cart").attr("data-item-id", myJSON);

                            console.log("get in else");
                            $(".modal-product-details .js-item-name1").text(data[0].name);
                            $(".modal-product-details .js-item-name2").text(data[0].name2);
                            $(".modal-product-details .js-item-staticPrice").text(data[0].staticPrice);

                            for (let j = 1; j < data.length; j++) {

                                // add modifiers to details of item
                                let data1 = `<div class="form-group">
                                <label class ="custom-control custom-radio" >
                                <input name="radio_size" type="radio" value=${data[j].name}>
                                <span class ="custom-control-indicator"></span>
                                <span class ="custom-control-description">${data[j].name}} -(${data[j].staticPrice}) </span>
                                </label>
                                </div>`;

                                $('#panelDetailsSize .panel-details-content').append(data1);

                            }

                            //get the selected radio button
                            
                            $("input[name='radio_size']").click(function () {

                                index = $("input[name='radio_size']").index($("input[name='radio_size']:checked")) + 1;
                               
                                $("#productModal .js-add-cart").attr("data-modiefier-id", data[index].id);
                            });

                        

                        // here we get specifected item that has modifiers and put it in database
                        $(".js-add-cart").click(function (e) {
                            
                            var id = $("#productModal .js-add-cart").attr("data-modiefier-id");
                            var myIds = JSON.parse(button.attr("data-item-id"));
                            console.log(id);
                            console.log(myIds);
                            console.log(myIds[0]);
                            
                            //$.post("/api/shoppingcarts", { ItemId: myIds[0], ItemsId: id })
                            //    .done(function () {
                            //        console.log("got in adding itms has modifiers ");
                            //        console.log(button.attr("data-item-id"));
                            //    })
                            //    .fail(function () {
                            //        alert("Something failed! in adding item to cart");
                            //    });

                            var cartItemDto = {
                                ItemId: myIds[0],
                                ItemsId: id
                               // phone: $("#id-phone").val()
                            }

                            console.log('cart + ' + cartItemDto.ItemId);
                            console.log('cart + ' + cartItemDto.ItemsId);


                            //var cartItemDto = JSON.stringify(x);
                           // orderedAppointmens = JSON.stringify(orderedAppointmens);
                            $.ajax({
                                url: "/api/shoppingcarts",
                                method: "POST",
                                data: JSON.stringify(cartItemDto),
                                contentType: 'application/json; charset=utf-8',
                                dataType: "Json"
                            })
                                .done(function () {
                                    console.log("got in adding itms has modifiers ");
                                    console.log(button.attr("data-item-id"));
                                })
                                .fail(function () {
                                    alert("Something failed! in adding item to cart");
                                });


                        });

                            }

                        
                    })
                    .fail(function() {
                        alert("Something failed! in modifiers");
                    });

            });
        


        $(".js-edit-item").on('click', function (e) {
            console.log("edit pressed");
            $("#productModal").addClass("fade");
            $("#productModal").modal();
            $("#productModal").removeClass("fade");
        });
    });


</script>
</body>

</html>