
<div class="page-content">

    
    <!-- main table my orders-->
    <table id="simple-table" class="table  table-bordered table-hover">
        @*<colgroup>
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-6">
            <col class="col-md-2">
            <col class="col-md-2">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-2">
            <col class="col-md-1">
        </colgroup>*@
        <thead>
        <tr>
            <th> Name </th>
            <th> Phone </th>
            <th> Order </th>
            <th> Total </th>
            <th> Outlet </th>
            <th> Area </th>
            <th> Address </th>
            <th> Time</th>

            <th>Status</th>

            <th></th>
        </tr>
        </thead>

        <tbody id="tableBodyOrders" ordersCount="@Model.Orders.Count">
        @for (var i = 0; i < Model.Orders.Count; i++)
        {
            if(Model.Orders[i].OrderState==1){

            <tr>

                <td> @Model.Orders[i].CustomerName </td>
                <td> @Model.Orders[i].CustomerPhone </td>
                <td class="col-md-4"> @Model.Orders[i].Details </td>
                <td class="col-md-2">
                    Price : @Model.Orders[i].Price <br>
                    Delivery : @Model.Orders[i].Delivery <br>
                    TotalPrice :@Model.Orders[i].TotalPrice
                </td>
                <td> @Model.Orders[i].OutLet.Name </td>
                <td> @Model.Orders[i].HdAreas.Name </td>
                <td> @Model.Orders[i].CustomerStreet </td>

                @if (Model.Orders[i].DeliveryTimeIndex == 0)
                {
                    <td> as fast as possible </td>
                }

                else if (Model.Orders[i].DeliveryTimeIndex == 1)
                {
                    <td> in one hour </td>
                }
                else
                {
                    <td> in two hour </td>

                }


                <td class="hidden-480">
                    <span class="label label-sm label-success"> New </span>
                </td>

                <td>
                    <div class="hidden-sm hidden-xs btn-group">
                        <button class="btn btn-xs btn-success">
                            <i class="ace-icon fa fa-check bigger-120"></i>
                        </button>

                        <button class="btn btn-xs btn-info">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </button>

                        <button class="btn btn-xs btn-danger">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>

                        <button class="btn btn-xs btn-warning">
                            <i class="ace-icon fa fa-flag bigger-120"></i>
                        </button>
                    </div>

                    <div class="hidden-md hidden-lg">
                        <div class="inline pos-rel">
                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                <li>
                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                        <span class="blue">
                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                        <span class="green">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                        <span class="red">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            }

            
        }

        </tbody>
    </table>

            <!-- PAGE CONTENT ENDS -->
        </div>