@model List<AdminPanel.Models.EldahanItems>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_adminPanel.cshtml";
}

<div class="main-content">
    <div class="main-content-inner">
      

        <div class="page-content">

            <div class="page-header">
                <h1>
                    Tables
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Items
                    </small>
                </h1>
            </div>
            
            @*<p>
                @Html.ActionLink("Create New", "Create" , "EldahanItems")
            </p>*@
        </div>
        <!-- /.page-header -->
            <!-- main table my orders-->
            <!-- main table my orders-->
           
                    <!-- PAGE CONTENT BEGINS -->
                    <!-- main table my orders-->
                    <!-- main table my orders-->
                            <table id="simple-table-Items" class="table  table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th> Preset </th>
                                        <th> Name </th>
                                        <th> Arabic Name </th>
                                        <th > Price </th>
                                        @*<th > Listed </th>
                                        <th > Available </th>
                                        <th >  </th>*@

                                    </tr>
                                </thead>

                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="center">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>

                                        <td class="center">
                                            @item.EldahanPreset.Name
                                        </td>

                                        <td>
                                            @item.Name
                                        </td>
                                        <td> @item.Name2 </td>
                                        <td > @item.StaticPrice </td>
                                        @*<td>
        <div class="btn-group">
            <button class="btn btn-xs btn-success">
                <i class="ace-icon fa fa-check bigger-120"></i>
            </button>

            <button class="btn btn-xs btn-success">
                <i class="ace-icon fa fa-check bigger-120"></i>
            </button>

            <button class="btn btn-xs btn-success">
                <i class="ace-icon fa fa-check bigger-120"></i>
            </button>

            <button class="btn btn-xs btn-success">
                <i class="ace-icon fa fa-check bigger-120"></i>
            </button>

            <button class="btn btn-xs btn-success">
                <i class="ace-icon fa fa-check bigger-120"></i>
            </button>
        </div>
    </td>

                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-xs btn-success">
                                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                                </button>

                                                <button class="btn btn-xs btn-success">
                                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                                </button>

                                                <button class="btn btn-xs btn-success">
                                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                                </button>

                                                <button class="btn btn-xs btn-success">
                                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                                </button>

                                                <button class="btn btn-xs btn-success">
                                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                                </button>
                                            </div>
                                        </td>

                                        <td>
                                            <button class="btn btn-xs btn-info js-btn-EditOrder" data-order-id="">
                                                <i class="ace-icon fa fa-pencil bigger-120" data-order-id=""></i>
                                            </button>
                                        </td>*@


                                    </tr>
                                }

                                </tbody>
                            </table>
                    @*<div class="hr hr-18 dotted hr-double"></div>*@


                    <!-- PAGE CONTENT ENDS -->
        </div><!-- /.page-content -->
</div><!-- /.main-content -->
<!-- inline scripts related to this page -->
<script>
    $(document).ready(function () {
        
        ItemController.init();
       

    })
</script>