@model List<AdminPanel.Models.Item>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_adminPanel.cshtml";
}

<div class="main-content">
    <div class="main-content-inner">
      

        <div class="page-content">

            <div class="page-header">
                <h1>
                    Tables
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Items
                    </small>
                </h1>
               
            </div>
            
            @*<p>
                @Html.ActionLink("Create New", "Create" , "Item")
            </p>*@
        </div>
        <p>
            @Html.ActionLink("Create New", "Create" , "Items")
        </p>
        <!-- /.page-header -->
            <!-- main table my orders-->
            <!-- main table my orders-->
           
                    <!-- PAGE CONTENT BEGINS -->
                    <!-- main table my orders-->
                    <!-- main table my orders-->
                            <table id="simple-table-Items" class="table  table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th> Preset </th>
                                        <th> Name </th>
                                        <th> Arabic Name </th>
                                        <th > Price </th>
                                        <th> Action</th>
                                        <th > Listed </th>
                                        <th > Available </th>

                                    </tr>
                                </thead>

                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="center">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>

                                        <td class="center">
                                            @item.WebPreset.Name
                                        </td>

                                        <td>
                                            @item.Name
                                        </td>
                                        <td> @item.Name2 </td>
                                        <td > @item.StaticPrice </td>
                                        <td>
                                            <button class="btn btn-xs btn-info js-btn-EditItem" data-item-id="@item.Id">
                                                <i class="ace-icon fa fa-pencil bigger-120" data-item-id="@item.Id"></i>
                                            </button>
                                        </td>
                                        <td>

                                            <button class="btn btn-xs btn-success js-btn-Listed" data-item-id="@item.Id">
                                                <i class="ace-icon fa fa-check bigger-120" data-item-id="@item.Id"></i>
                                            </button>

                                        </td>

                                        <td> 
                                            <button class="btn btn-xs btn-success js-btn-Available" data-item-id="@item.Id">
                                                <i class="ace-icon fa fa-check bigger-120" data-item-id="@item.Id"></i>
                                            </button>

                                         </td>


                                    </tr>
                                }

                                </tbody>
                            </table>    
                    @*<div class="hr hr-18 dotted hr-double"></div>*@


                    <!-- PAGE CONTENT ENDS -->
        </div><!-- /.page-content -->
</div><!-- /.main-content -->
<!-- inline scripts related to this page -->
<script>
    $(document).ready(function () {
        
        ItemController.init();
       

        $('.js-btn-EditItem').on('click', function (e) {
            var icon = $(e.target);
            //
            var id = icon.attr("data-item-id");
            console.log(id);
            ItemController.editItem(id, e);

        });
        $('.js-btn-Available').on('click', function (e) {
            var icon = $(e.target);
            console.log(icon);
            if ($(e.target).get(0).tagName == "i.ace-icon") {
                icon = $(e.target).parent();
            } else {
                icon = $(e.target);
            }
            console.log(icon);
            //btn-success
             var id = icon.attr("data-item-id");
             console.log(id);

             icon.toggleClass("btn-success").toggleClass("btn-danger");
            var available = 1;
            ItemController.listItemUnAvailable(id, e, available);

        });

    })
</script>