@for (var i = 0; i < Model.Orders.Count; i++)
            {
                if (Model.Orders[i].OrderState == 0)
                {

        <tr>
            <td> @Model.Orders[i].CustomerName </td>
            <td> @Model.Orders[i].CustomerPhone </td>

            
            <td>
                @Model.Orders[i].Details
                <button class="btn btn-info btn-sm js-btn-EditItemsOrder" data-order-id="@Model.Orders[i].Id">edit </button>
            </td>
            <td>
                Price : @Model.Orders[i].Price <br>
                Delivery : @Model.Orders[i].Delivery <br>
                TotalPrice :@Model.Orders[i].TotalPrice
            </td>
            <td> @Model.Orders[i].OutLet.Name </td>
            <td> @Model.Orders[i].HdAreas.Name </td>
            <td> @Model.Orders[i].CustomerStreet </td>

            @if (Model.Orders[i].DeliveryTimeIndex == 0)
            {
                <td> as fast as possible </td>
            }


            else if (Model.Orders[i].DeliveryTimeIndex == 1)
            {
                <td> in one hour </td>
            }

            else
            {
                <td> in two hour </td>

            }


            <td class="hidden-480">
                <span class="label label-sm label-success"> New </span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs btn-group">
                    <button class="btn btn-xs btn-success js-btn-AcceptOrder" data-order-id="@Model.Orders[i].Id">
                        <i class="ace-icon fa fa-check bigger-120 " data-order-id="@Model.Orders[i].Id"></i>
                    </button>

                    <button class="btn btn-xs btn-danger js-btn-RejectOrder" data-order-id="@Model.Orders[i].Id">
                        <i class="ace-icon fa fa-remove bigger-120 " data-order-id="@Model.Orders[i].Id"></i>
                    </button>

                    <button class="btn btn-xs btn-info js-btn-EditOrder" data-order-id="@Model.Orders[i].Id">
                        <i class="ace-icon fa fa-pencil bigger-120" data-order-id="@Model.Orders[i].Id"></i>
                    </button>

                    <button class="btn btn-xs btn-danger">
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>
                </div>
            </td>
        </tr>
    }
}