

            @for (var i = 0; i < Model.Count; i++)
            {
                if (Model[i].Order.OrderState == 0)
                {

                    <tr>
                        <td> @Model[i].Order.CustomerName </td>
                        <td> @Model[i].Order.CustomerPhone </td>
                      
                        <td>
                             @Model[i].Order.Details
                             <button class="btn btn-primary btn-sm">test</button>
                        </td>
                        <td>
                            Price :     @Model[i].Order.Price <br>
                            Delivery :  @Model[i].Order.Delivery <br>
                            TotalPrice :@Model[i].Order.TotalPrice
                        </td>
                        <td> @Model[i].Order.OutLet.Name </td>
                        <td> @Model[i].Order.HdAreas.Name </td>
                        <td> @Model[i].Order.CustomerStreet </td>

                        @if (Model[i].Order.DeliveryTimeIndex == 0)
                        {
                            <td> as fast as possible </td>
                        }


                        else if (Model[i].Order.DeliveryTimeIndex == 1)
                        {
                            <td> in one hour </td>
                        }

                        else
                        {
                            <td> in two hour </td>

                        }


                        <td class="hidden-480">
                            <span class="label label-sm label-success"> New </span>
                        </td>

                        <td>
                            <div class="hidden-sm hidden-xs btn-group">
                                <button class="btn btn-xs btn-success js-btn-AcceptOrder" data-order-id="@Model[i].Order.Id">
                                    <i class="ace-icon fa fa-check bigger-120 "data-order-id="@Model[i].Order.Id"></i>
                                </button>

                                <button class="btn btn-xs btn-danger js-btn-RejectOrder" data-order-id="@Model[i].Order.Id">
                                    <i class="ace-icon fa fa-remove bigger-120 "data-order-id="@Model[i].Order.Id"></i>
                                </button>

                                <button class="btn btn-xs btn-info js-btn-EditOrder" data-order-id="@Model[i].Order.Id">
                                    <i class="ace-icon fa fa-pencil bigger-120" data-order-id="@Model[i].Order.Id"></i>
                                </button>

                                <button class="btn btn-xs btn-danger">
                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
