@for (var i = 0; i < Model.Orders.Count; i++)
            {
                if (Model.Orders[i].OrderState == 2)
                {

        <tr>
            <td> @Model.Orders[i].ApplicationUser.Name </td>
            <td> @Model.Orders[i].ApplicationUser.Phone </td>
            <td> @Model.Orders[i].Details </td>
            <td>
                Price : @Model.Orders[i].Price <br>
                Delivery : @Model.Orders[i].Delivery <br>
                TotalPrice :@Model.Orders[i].TotalPrice
            </td>
            <td> @Model.Orders[i].ApplicationUser.Outlet.Name </td>
            <td> @Model.Orders[i].ApplicationUser.Area.Name </td>
            <td> تفاصيل العنوان</td>

            @if (Model.Orders[i].DeliveryTimeIndex == 0)
            {
                <td> as fast as possible </td>
            }


            else if (Model.Orders[i].DeliveryTimeIndex == 1)
            {
                <td> in one hour </td>
            }

            else
            {
                <td> in two hour </td>

            }


            <td class="hidden-480">
                <span class="label label-sm label-danger"> Rejected </span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs btn-group">

                    <button class="btn btn-xs btn-info">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                    </button>

                    <button class="btn btn-xs btn-danger">
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>
                </div>
            </td>
        </tr>
    }
}