@using Microsoft.AspNet.Identity
@for (var i = 0; i < Model.Orders.Count; i++)
{
    if (Model.Orders[i].OrderState == 2 &&
        Model.Orders[i].AdminId == User.Identity.GetUserId())
    {

        <tr>
            <td> @Model.Orders[i].DateCreated.ToString("dd/MM/yyyy hh:mm tt") </td>
            <td> @Model.Orders[i].User.Name </td>
            <td> @Model.Orders[i].User.Phone </td>
            <td>
                <button class="btn btn-info btn-sm js-btn-orderDetails"
                        data-order-id="@Model.Orders[i].Id">View Order Details </button>
            </td>
            <td>
                Price : @Model.Orders[i].Price <br>
                Delivery : @Model.Orders[i].Delivery <br>
                TotalPrice :@Model.Orders[i].TotalPrice
            </td>
            <td> @Model.Orders[i].User.Outlet.Name </td>
            <td> @Model.Orders[i].User.Area.Name </td>
            <td>
                
                <div>
                    Address
                    @Model.Orders[i].User.Adress
                    @Model.Orders[i].User.Adress2
                    <div> Street @Model.Orders[i].User.Street </div>
                    <div> Building @Model.Orders[i].User.Building </div>
                    <div> Floor @Model.Orders[i].User.Floor </div>
                    <div> Apartment @Model.Orders[i].User.Apartment </div>
                    <div> SpecialMark @Model.Orders[i].User.SpecialMark </div>
                </div>

            </td>

            <td>
                @if (Model.Orders[i].DeliveryTimeIndex == 0)
                {
                    <div>as fast as possible</div>
                }


                else if (Model.Orders[i].DeliveryTimeIndex == 1)
                {
                    <div> in one hour </div>
                }

                else if (Model.Orders[i].DeliveryTimeIndex == 2)
                {
                    <div> in two hour </div>

                }

                else if (Model.Orders[i].DeliveryTimeIndex == 3)
                {
                    <div>in three hour></div>
                }
                
                <div>@Model.Orders[i].DeliveryTypeIndex</div>
            </td>


            <td class="hidden-480">
                <span class="label label-sm label-danger"> Rejected </span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs btn-group">

                    <button class="btn btn-xs btn-info">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                    </button>

                    <button class="btn btn-xs btn-danger">
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>
                </div>
            </td>
        </tr>
    }
}