@using System.Diagnostics
@using AdminPanel.Models
@using Microsoft.AspNet.Identity
@model AdminPanel.ViewModels.OrdersViewModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_adminPanel.cshtml";
}



<div class="main-content">
    <div class="main-content-inner container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs ">
            <li class="nav-item">
                <a class="nav-link active info" data-toggle="tab" href="#Orders">Orders</a>
            </li>
            <li class="nav-item ">
                <a class="nav-item Accepted" data-toggle="tab" href="#Accepted">Accepted Orders</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link Rejected" data-toggle="tab" href="#Rejected">Rejected Orders</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link info" data-toggle="tab" href="#All">All Orders</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="Orders" class="tab-pane active">
                <div class="page-content">

                    <!-- main table my orders-->
                    <table id="NewOrder" class="table  table-bordered table-hover">
                    <colgroup>
                        <col class="col-sm-1">
                        <col class="col-md-1">
                        <col class="col-md-2">
                        <col class="col-md-2">
                        <col class="col-md-1">
                        <col class="col-md-1">
                        <col class="col-md-2">
                        <col class="col-md-1">
                        <col class="col-md-1">
                        <col class="col-md-1">
                    </colgroup>
                    <thead>
                    <tr>
                        <th> Date </th>
                        <th> Name </th>
                        <th> Phone </th>
                        <th> Order </th>
                        <th> Total </th>
                        <th> Outlet </th>
                        <th> Area </th>
                        <th> Address </th>
                        <th> Time</th>
                        <th>Status</th>
                        <th> Action</th>
                    </tr>
                    </thead>
                    <tbody id="NewOrderBody" ordersCount="@Model.Orders.Count">
                    @Html.Partial("NewOrders")
                    
                    </tbody>
                    </table>

                    <!-- PAGE CONTENT ENDS -->
                </div>
                    
            </div>
            <div id="Accepted"  class="tab-pane fade">
                <div class="page-content">

                    <!-- main table my orders-->
                    <table id="AcceptedOrders" class="table  table-bordered table-hover">
                        <colgroup>
                            <col class="col-sm-1">
                            <col class="col-md-1">
                            <col class="col-md-2">
                            <col class="col-md-2">
                            <col class="col-md-1">
                            <col class="col-md-1">
                            <col class="col-md-2">
                            <col class="col-md-1">
                            <col class="col-md-1">
                            <col class="col-md-1">
                        </colgroup>
                        <thead>
                        <tr>
                            <th> Name </th>
                            <th> Phone </th>
                            <th> Order </th>
                            <th> Total </th>
                            <th> Outlet </th>
                            <th> Area </th>
                            <th> Address </th>
                            <th> Time</th>
                            <th>Status</th>
                            <th> Action</th>
                        </tr>
                        </thead>
                        <tbody id="AcceptedOrdersOrders" ordersCount="@Model.Orders.Count()">
                        @Html.Partial("AcceptedOrders")
                    
                        </tbody>
                    </table>

                    <!-- PAGE CONTENT ENDS -->
                </div>


            </div>

            <div id="Rejected" class="tab-pane fade">
                    <div class="page-content">

                        <!-- main table my orders-->
                        <table id="RejectedOrders" class="table  table-bordered table-hover">
                            <colgroup>
                                <col class="col-sm-1">
                                <col class="col-md-1">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-2">
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-1">
                            </colgroup>
                            <thead>
                            <tr>
                                <th> Name </th>
                                <th> Phone </th>
                                <th> Order </th>
                                <th> Total </th>
                                <th> Outlet </th>
                                <th> Area </th>
                                <th> Address </th>
                                <th> Time</th>
                                <th>Status</th>
                                <th> Action</th>
                            </tr>
                            </thead>
                            <tbody id="RejectedOrdersBody" ordersCount="@Model.Orders.Count()">
                            @Html.Partial("RejectedOrders")
                    
                            </tbody>
                        </table>

                        <!-- PAGE CONTENT ENDS -->
                    </div>

            </div>
            
            <div id="All" class="tab-pane fade">
                    <div class="page-content">

                        <!-- main table my orders-->
                        <table id="AllOrders" class="table  table-bordered table-hover">
                            <colgroup>
                                <col class="col-sm-1">
                                <col class="col-md-1">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-2">
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-1">
                            </colgroup>
                            <thead>
                            <tr>
                                <th> Name </th>
                                <th> Phone </th>
                                <th>
                                   
                                    Order
                                </th>
                                <th> Total </th>
                                <th> Outlet </th>
                                <th> Area </th>
                                <th> Address </th>
                                <th> Time</th>
                                <th>Status</th>
                                <th> Action</th>
                            </tr>
                            </thead>
                            <tbody id="AllOrdersBody" ordersCount="@Model.Orders.Count()">
                            @Html.Partial("AllOrders")
                    
                            </tbody>
                        </table>

                        <!-- PAGE CONTENT ENDS -->
                    </div>

            </div>
        </div>

    </div>

</div><!-- /.main-content -->
<!-- inline scripts related to this page -->
<script>
    $(document).ready(function () {
        setInterval(getOrdersCount, 4000);
        OrderController.showData();
        function getOrdersCount() {
            //console.log($('#tableBodyOrders').attr('ordersCount'));
            var ordersCount = $('#NewOrderBody').attr('ordersCount');
            OrderController.init(ordersCount);
            OrderController.changedNumberOfOrders(ordersCount);
            //console.log(OrderController.count);
        }

        $('.js-btn-model').on('click', function (e) {
            //$("#newOrder").modal();
            document.location.reload(true);

        });

        $('body').on('click', '.js-btn-AcceptOrder', function (e) {
            var icon = $(e.target);
            console.log("accept order");
            console.log(icon);
            var id = icon.attr("data-order-id");
            OrderController.acceptNewOrder(id, e);
        });

        //$('.js-btn-AcceptOrder').on('click', function (e) {
        //    var icon = $(e.target);
        //    console.log("accept order");
        //    console.log(icon);
        //    var id = icon.attr("data-order-id");
        //    OrderController.acceptNewOrder(id , e);

        //});

        $('body').on('click', '.js-btn-RejectOrder', function (e) {
            var icon = $(e.target);
            console.log("reject order");
            console.log(icon);
            var id = icon.attr("data-order-id");
            OrderController.rejectNewOrder(id, e);

        });

        //$('.js-btn-RejectOrder').on('click', function (e) {
        //    var icon = $(e.target);
        //    //console.log(icon);
        //    var id = icon.attr("data-order-id");
        //    OrderController.rejectNewOrder(id, e);

        //});

        $('.js-btn-EditOrder').on('click', function (e) {
                   var icon = $(e.target);
                   //console.log(icon);
                   var id = icon.attr("data-order-id");
                   OrderController.editOrder(id, e);

        });
        $('.js-btn-orderDetails').on('click', function (e) {
                    var icon = $(e.target);
                    //console.log(icon);
                    var id = icon.attr("data-order-id");
                    OrderController.orderDetails(id, e);

                });

        $('.js-btn-EditItemsOrder').on('click', function (e) {
                   var icon = $(e.target);
                   //console.log(icon);
                   var id = icon.attr("data-order-id");
                   OrderController.editItemsOrder(id, e);

               });



    })
</script>