@model conncetASPwithTemplate.Models.EldahanItems

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EldahanItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EldahanPreset.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EldahanPreset.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrossCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrossCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assimbly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assimbly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsModifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsModifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StandAlone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandAlone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintOnChick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintOnChick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintOnReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintOnReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FollowItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FollowItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BackColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BackColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fontColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fontColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaticPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaticPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModPrice_0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModPrice_0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemFont)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemFont)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseItemTimer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseItemTimer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemTimerValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemTimerValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoServiceCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoServiceCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Market_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Market_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_Track)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Track)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintItemOnCheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintItemOnCheck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsParent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsParent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rest_ID_Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rest_ID_Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Open_Food)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Open_Food)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mod_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mod_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pre_Paid_Card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pre_Paid_Card)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
