@model conncetASPwithTemplate.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<!-- Content -->
<div id="content">

    <!-- Page Title -->
    <div class="page-title bg-dark dark">
        <!-- BG Image -->
        <div class="bg-image bg-parallax"><img src="../../Content/mytemplate/assets/img/photos/bg-croissant.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 push-lg-4">
                    <h1 class="mb-0">Checkout</h1>
                    <h4 class="text-muted mb-0">Some informations about our restaurant</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Section -->
    <section class="section bg-light">

        <div class="container">
            <div class="row">
                <div class="col-xl-4 push-xl-8 col-lg-5 push-lg-7">
                    <div class="shadow bg-white stick-to-content mb-4">
                        <div class="bg-dark dark p-4"><h5 class="mb-0">Your order</h5></div>
                        <table class="table-cart seed_items"></table>
                        <div class="cart-summary seed_price">

                        </div>
                    </div>
                </div>
                <div class="col-xl-8 pull-xl-4 col-lg-7 pull-lg-5">
                    <div class="bg-white p-4 p-md-5 mb-4">
                        <h4 class="border-bottom pb-4"><i class="ti ti-user mr-3 text-primary"></i>Is your data correct ? <i class="js-edit fa fa-pencil-square-o" aria-hidden="true"></i></h4>


                        @using (Html.BeginForm("UpdateUser", "Manage", FormMethod.Post, new { @class = "row mb-5", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = " text-danger col-sm-10" })

                            <div class="form-group col-sm-5">
                                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                                <div class="disabled">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control editInput " })
                                </div>
                            </div>

                            <div class="form-group col-sm-5">
                                @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control editInput" })
                                </div>
                            </div>

                            <div class="form-group col-sm-5">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control editInput " })
                                </div>
                            </div>

                            <div class="form-group col-sm-5">
                                @Html.LabelFor(m => m.Adress, new { @class = "col-md-2 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.Adress, new { @class = "form-control editInput" })
                                </div>
                            </div>

                            <div class="form-group col-sm-5">
                                @Html.LabelFor(m => m.Adress2, new { @class = "col-md-2 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.Adress2, new { @class = "form-control editInput" })
                                </div>
                            </div>

                            <div class="form-group col-sm-10">
                                <div class="text-center">
                                    <input type="submit" class="js-btn-save btn btn-primary btn-lg hide" value="Save" />
                                </div>
                            </div>
                        }
                        
                        <h4 class="border-bottom pb-4"><i class="ti ti-wallet mr-3 text-primary"></i>Delivery</h4>
                        <div class="row mb-3 ">
                            <div class="col-md-10 col-sm-6 form-group">
                                <label class="custom-control custom-radio w-100">
                                    <input checked type="radio" name="DeliveryType" class="custom-control-input" value="Home">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description w-100"> Home Delivery  </span>
                                </label>

                                <label class="custom-control custom-radio w-100">
                                    <input type="radio" name="DeliveryType" class="custom-control-input" value="Pick">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description w-100"> Pick Up  <span class="text-success col-sm-20"> Your order will be ready in 45 minutes </span></span>
                                    
                                </label>

                            </div>
                        </div>


                        <h4 class="border-bottom pb-4"><i class="ti ti-wallet mr-3 text-primary"></i>Delivery Time</h4>
                        <div class="row mb-3 ">
                            <div class="col-md-4 col-sm-6 form-group">
                                <label class="custom-control custom-radio w-100">
                                    <input checked type="radio" name="DeliveryTime" class="custom-control-input" value="now">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description w-100"> Now  </span>
                                </label>

                                <label class="custom-control custom-radio w-100">
                                    <input type="radio" name="DeliveryTime" class="custom-control-input" value="later">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description w-100"> Later </span>
                                </label>

                            </div>
                        </div>

                        <div class="row mb-2 ">
                            <div class="form-group col-sm-6">
                                <div class="select-container d-none deliverytime">
                                    <select class="form-control ">
                                        <option> in one hour</option>
                                        <option> in two hours</option>
                                        <option> in three hours </option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <h4 class="border-bottom pb-4"><i class="ti ti-wallet mr-3 text-primary"></i>Payment</h4>
                        <div class="row mb-5 ">
                            <div class="col-md-4 col-sm-6 form-group">
                                <label class="custom-control custom-radio w-100">
                                    <input checked type="radio" name="payment_type" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description w-100">Cash on delivery  </span>
                                </label>
                            </div>
                        </div>

                    </div>



                    <div class="text-center">
                       
                        <button class="btn btn-primary btn-lg js-order" data-target='#thanks' data-toggle="modal"><span>Order now!</span></button>
                        
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>

@section scripts{

    <script>

        $(document).ready(function () {
            console.log("sds" + $(".js-notifications-price").text());
            if ($(".js-notifications-price").text() === "0 LE")
            {
                $('.js-ordernow').prop('disabled', true);
                $('.js-order').prop('disabled', true);
            }
            var editmode = true;
            $('.editInput').attr('readonly', true);
            $('.js-btn-save').addClass('d-none');

            $('.js-edit').on('click',
                function() {

                    console.log("dsd");

                    if (editmode) {

                        $('.editInput').attr('readonly', false);
                        $('.js-btn-save').removeClass('d-none');
                        editmode = false;
                    } else {
                        $('.editInput').attr('readonly', true);
                        $('.js-btn-save').addClass('d-none');
                        editmode = true;
                    }

                });


            $("input[type='radio']").click(function() {
                var radioValue = $("input[name='DeliveryTime']:checked").val();
                console.log(radioValue);
                if (radioValue == 'later') {
                    $('.deliverytime').removeClass('d-none');
                    //$('.deliverytime').child('div').removeClass('d-none');
                } else {
                    $('.deliverytime').addClass('d-none');
                }
            });

            $("input[type='radio']").click(function () {
                var radioValue = $("input[name='DeliveryType']:checked").val();
                console.log(radioValue);
            });
        });

    </script>


}


