@using Newtonsoft.Json
@model conncetASPwithTemplate.ViewModels.ItemsCategories


@{
    ViewBag.Title = "IndexBurgers";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
    


}



@functions {
    //private readonly int itemsToShowCount =10;
    // private int categriesCount=6 ;
    // private List<string> idsStrings = new List<string>() { "Burgers", "Pasta" , "Pizza" ,
    //     "Sushi" , "Desserts" , "Drinks" };
    private List<string> surcs = new List<string>() { "../../Content/mytemplate/assets/img/photos/101_Grills.jpg",
                                                        "../../Content/mytemplate/assets/img/photos/102_tajin.jpg",
                                                        "../../Content/mytemplate/assets/img/photos/103_Meals.jpg" ,
                                                        "../../Content/mytemplate/assets/img/photos/101.jpg",
                                                        "../../Content/mytemplate/assets/img/photos/105_Main_Plates.jpg",
                                                        "../../Content/mytemplate/assets/img/photos/106_sides.jpg",
                                                        "../../Content/mytemplate/assets/img/photos/107_sandwiches.jpg",
                                                        "../../Content/mytemplate/assets/img/photos/108_soups.jpg",
                                                        "../../Content/mytemplate/assets/img/photos/109_salads.jpg" ,
                                                        "../../Content/mytemplate/assets/img/photos/110_kids_meal.jpg",
                                                        "../../Content/mytemplate/assets/img/photos/111_drinks.jpg",
                                                        "../../Content/mytemplate/assets/img/photos/112_sweets.jpg",
                                                        "../../Content/mytemplate/assets/img/photos/menu-title-burgers.jpg",
        "../../Content/mytemplate/assets/img/photos/Ready_to_cook.jpg",
    };
}

<!-- Page Title -->
<div class="page-title bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 push-lg-4">
                <h1 class="mb-0">Our Menu
                </h1>
                <h4 class="text-muted mb-0">GRILL & ORIENTAL RESTAURANT SINCE 1890
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- Page Content -->
<div class="page-content">

    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-3">
                <!-- Menu Navigation -->
                <nav id="menu-navigation" class="stick-to-content" data-local-scroll>
                    <ul class="nav nav-menu bg-dark dark">
                        
                        @{
                            for (int i = 0; i< Model.Presets.Count; i++)
                            {
                                if (Model.Presets[i].Name == "Modifiers")
                                {
                                    continue;
                                }
                                <li><a href="#@Model.Presets[i].Name">@Model.Presets[i].Name</a></li>
                            }
                        }
                    </ul>
                </nav>
            </div>
            <div class="col-md-9">
            @{
                for (int i = 0; i < Model.Presets.Count; i++)
                {
                    if (Model.Presets[i].Name == "Modifiers")
                    {
                        continue;
                    }

                    <div id="@Model.Presets[i].Name" class="menu-category">
                        <div class="menu-category-title">
                            <div class="bg-image"><img src="@surcs[i]" alt=""></div>
                            <h2 class="title">@Model.Presets[i].Name</h2>
                        </div>
                        <div class="menu-category-content">
                            <!-- Menu Items -->

                            @{
                                var count = 0;
                                for (int j = 0; j < Model.Items.Count; j++)
                                {
                                    if(Model.Items[j].WebPresetId == Model.Presets[i].Id)
                                    {
                                        count++;
                                        List<int> ids = new List<int>();
                                        //ids.Add(Model[i].Id);
                                        var myJSON = JsonConvert.SerializeObject(ids);

                                        <div class="menu-item menu-list-item">
                                            <div class="row align-items-center">
                                                <div class="col-sm-6">
                                                    <h6 class="mb-0">@Model.Items[j].Name</h6>
                                                    <span class="text-muted text-sm">@Model.Items[j].Name2</span>
                                                 
                                                </div>
                                               
                                             
                                                <div class="col-sm-6 text-sm-right">
                                                    <span class="text-md mr-1"><span class="text-muted"></span> @Model.Items[j].StaticPrice LE</span>
                                                    @if (Model.Items[j].Available == 0 || true) //remove true when implement Availability from admin side
                                                    {
                                                        <button
                                                            class="btn btn-outline-secondary btn-sm js-chosen-item "
                                                            data-item-id="@Model.Items[j].Id"
                                                            data-item-modefiers="@myJSON"
                                                            data-target="#productModal" data-toggle="modal">
                                                            <span>Add to cart</span>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-outline-secondary btn-sm text-sm text-danger" disabled=""> <span> not available </span> </button>

                                                    }
                                                  
                                                    <!--js-add-cart-->
                                                </div>
                                            </div>
                                        </div>
                                        if (count == Model.ItemsToShowCount)
                                        {
                                            break;
                                        }
                                        }

                                        
                                }
                                // j = k;



                                }
                           
                        </div>
                    </div>
                    }
                    }
                    
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script >
        

</script>
}