@model AdminPanel.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_adminPanel.cshtml";

}


@using (Html.BeginForm("UpdateUser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change user Info</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
        
    <div class="form-group col-md-10">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div >
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group col-md-10">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div >
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group col-sm-10">
        @Html.LabelFor(m => m.Area, new { @class = "col-md-2 control-label " })
        <div>
            @Html.DropDownListFor(m => m.Area, new SelectList(Model.Areas, "Id", "Name" , Model.Areas.Select(x => x.Id == Model.Area).FirstOrDefault()), "", new { @class = "form-control Area" })
        </div>
    </div>

    <div class="form-group col-sm-10">
        @Html.LabelFor(m => m.Outlet, new { @class = "col-md-2 control-label" })
        <div>
            @Html.DropDownListFor(m => m.Outlet, new SelectList(Model.Outlets, "Id", "Name" , Model.Outlets.Select(x => x.Id == Model.Outlet).FirstOrDefault()), "", new { @class = "form-control Outlet" })
        </div>

    </div>

    <div class="form-group col-md-10">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
        <div >
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group col-md-10">
        @Html.LabelFor(m => m.Address2, new { @class = "col-md-2 control-label" })
        <div >
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
        </div>
    </div>


    
    <div class="form-group col-sm-10">
        @Html.LabelFor(m => m.Street, new { @class = "col-md-2 control-label" })
        <div>
            @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group col-sm-10">
        @Html.LabelFor(m => m.Building, new { @class = "col-md-2 control-label" })
        <div>
            @Html.TextBoxFor(m => m.Building, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group col-sm-10">
        @Html.LabelFor(m => m.Floor, new { @class = "col-md-2 control-label" })
        <div>
            @Html.TextBoxFor(m => m.Floor, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group col-sm-10">
        @Html.LabelFor(m => m.Apartment, new { @class = "col-md-2 control-label" })
        <div>
            @Html.TextBoxFor(m => m.Apartment, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group col-sm-10">
        @Html.LabelFor(m => m.SpecialMark, new { @class = "col-md-2 control-label" })
        <div>
            @Html.TextBoxFor(m => m.SpecialMark, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var myUrl = '@Url.Action("GetDefault", "Home")';

            $(function () {

                $(".Area").change(function () {
                    //console.log(this.value);

                    var t = $(this).val();
                    // console.log(t);

                    if (t !== "") {
                        $.ajax({
                            url: myUrl,
                            dataType: "json",
                            type: "POST",
                            cache: false,
                            data: { val: t },
                            success: function (data) {
                                //console.log(myUrl);
                                if (data.success) {
                                    $('.Outlet').empty();
                                    for (var i = 0; i < data.outlets.length; i++) {
                                        console.log(data.outlets[i]);
                                        $('.Outlet').append($('<option></option>').text(data.outlets[i].Name).val(data.outlets[i].Id));
                                    }
                                }
                            },
                            error: function (xhr) {
                                alert(xhr.responseText);
                            }
                        });
                    }

                });
            });
        });


    </script>
}


